h1 {
    color: 997BDF;
}
body {
    background-color: black;
}
.text-learning-english{
    color: 997BDF;
    text-align: center;
}
.text-learning-russian {
    color :997BDF;
    text-align: center;
    background-color: blueviolet;
}