h1 {
    color: 997BDF;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
body {
    background-color: 0c0f12;
}
h2{
    color: whitesmoke
}
.link-forhtmlcss{
    font-size: 25px;
    color: 997BDF;
    
}
.link-for-jsframeworks{
    font-size: 25px;
    color: 997BDF;
}
.paragraph-english-about-english{
    border-bottom: 3px solid #9DAFE4;
    border-radius: 5px;
    color: 997BDF;
    line-height: 1;
    font-size: 22px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
.text-learning-english{
    color: 997BDF;   
    line-height: 1.5;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.paragraph-russian-about-english{
    color: 997BDF;
    line-height: 1;
    font-size: 22px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;

}
.text-learning-russian {
    border: 3px solid 997BDF;
    color :997BDF;
    line-height: 1.5;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: italic;
}